<app-menu-title></app-menu-title>
<div class="articles_container">
    <div class="articles_main"> 
        <app-big-card id="1" 
        title="He arrives, the tenth consecutive number one album!" 
        image="https://i.pinimg.com/600x315/49/d1/6e/49d16ea0bb1e7d56a2e7302c348054da.jpg"
        description="Art by Michael Kreiser, click here to check his work"
        link="https://www.michaelkreiserart.com/">
    </app-big-card> 
    </div>
    
    <div class="articles_others">
        <app-small-card id="2" title="Keep on walkin!" image="https://www.universalmusic.com.br/files/2022/02/DenzelCurry_01-28_20220131_205127891.jpg">
        </app-small-card>
        <app-small-card id="3" title="The Forever Story" image="https://media.pitchfork.com/photos/6307ca24d4bc41f168c74840/16:9/w_1280,c_limit/JID-The-Forever-Story.jpg"></app-small-card>
        <app-small-card id="4" title="Culture" image="https://thefader-res.cloudinary.com/private_images/c_limit,w_1024/c_crop,h_533,w_1024,x_0,y_394,f_auto,q_auto:eco/slack-imgs-1_rjaurq/slack-imgs-1_rjaurq.jpg"></app-small-card>
    </div>
</div>
